## Answer

#### 1-3

In [13]:
fruits=['apple','pear','orange','pinapple','mandarin']
for i in fruits:
	if (i == 'apple'):
		print ("I found it!")
fruits.extend(['bannana','kiwi'])
print (fruits)

I found it!
['apple', 'pear', 'orange', 'pinapple', 'mandarin', 'bannana', 'kiwi']

#### 4

In [14]:
fruits_characters=[]
for i in fruits:
	fruits_characters.append(len(i))
for i in range(len(fruits)):
	print (str(fruits[i]) + " has " + str(fruits_characters[i]) + " letters")

apple has 5 letters
pear has 4 letters
orange has 6 letters
pinapple has 8 letters
mandarin has 8 letters
bannana has 7 letters
kiwi has 4 letters

#### 5

In [18]:
def half_squared(origin):
	results = []
	for i in origin:
		results.append(int(i)*int(i)/2)
	return results

In [20]:
half_squared([3,3])

[4.5, 4.5]

#### 6

In [24]:
scores = int(input("please input the student scores: "))
if (scores>100 or scores<0):
	print ("Please input a correct number")
elif (scores >=90):
	print ("The grade is A")
elif (scores >=60):
	print ("The grade is B")
else:
	print ("The grade is C")

please input the student scores: 60
The grade is B

#### 7

In [27]:
def revSort(a,b,c):
	if (a<b):
		a,b = b,a
	if (a<c):
		a,c = c,a
	if (b<c):
		b,c = c,b
	return a,b,c

In [28]:
revSort(12,4,32)

(32, 12, 4)

#### 8

In [38]:
def traverse(arrs):
	for i in arrs:
		for j in i:
			print (j, end=' ')
	return

In [39]:
traverse(arrs=[[1,2,3],[4,5,6]])

1 2 3 4 5 6

#### 9

In [66]:
def cube_sum(x):
    sum = 0
    cube = x**3
    cube = str(cube)
    for i in range(len(cube)):
        sum = sum + int(cube[i])
    return sum

In [80]:
test = 0
for i in map(cube_sum,range(1,100)):
    test = test + 1
    if (i == test):
        print (i)

1
8
17
18
26
27

#### 10

In [87]:
import random
x= random.randint(1,10)
y= random.randint(1,10)
print (x, y)
a = x
x = y
y = a
print (x, y)

8 1
1 8

#### 11

In [88]:
for i in range(1,5):
	print (' '*int(4-i) + '*'*int(1+(i-1)*2))
for i in range(5,8):
	print (' '*int(i-4) + '*'*int(7-(i-4)*2))

   *
  ***
 *****
*******
 *****
  ***
   *

#### 12

In [95]:
arrays = '123456'
for i in range(len(arrays)):
	print (arrays[i:] + arrays[0:i])

123456
234561
345612
456123
561234
612345

#### 13

In [97]:
players = ['charles','martina','michael','florence','eli']
for i in players:
	print (i.title(),end=' ')

Charles Martina Michael Florence Eli